.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: 
     "wdth 100";
}


header {
    display: flex;
    justify-content: space-between;
    
    
    
}

.resume-btn {
    background-color: white;
    color:rgba(13, 19, 33, 1);
    border: 1px solid #333;
    padding: 17px 24px;
    
}

main {
    text-align: center;
    padding: 2rem;
}

.hero {
    background: url('../B10A1-Challenge-Begins/assets/Hero-bg.png') no-repeat center center;
    background-size:cover;
   
    margin: 0 auto;
    max-width: 800px;
    background-color: white;

    
}

.hero-image {
    width:fit-content;
    border-radius: 50%;
    margin-bottom: 1rem;
}




.contact-btn {
    background-color:rgba(13, 19, 33, 1);
    color:rgba(255, 255, 255, 1);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
